<?xml version="1.0" encoding="UTF-8"?>
<config>
    <tabs>
        <veredus translate="label" >
            <label>Veredus Config</label>
            <sort_order>999</sort_order>
        </veredus>
    </tabs>  
    <sections>
        <veredus translate="label">
            <label>Template Configuration</label>
            <tab>veredus</tab>
            <frontend_type>text</frontend_type>
            <sort_order>999</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>0</show_in_store>
            <groups>
                <hint>
                        <frontend_model>veredus/adminhtml_system_config_fieldset_home_hint</frontend_model>
                        <sort_order>0</sort_order>
                        <show_in_default>1</show_in_default>
                        <show_in_website>1</show_in_website>
                        <show_in_store>1</show_in_store>
                </hint>
                <home>
                    <label>Home Page Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>                    
                    <fields>
                        <cms-block-1>
                            <label>Blocco 1 della Home</label>
                            <frontend_type>select</frontend_type>
                            <source_model>veredus/adminhtml_system_config_source_cms_block</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                            
                            <comment>
                                <model>
                                    veredus/adminhtml_system_config_source_home_block
                                </model>
                                <imgname>
                                    template/adminhtml/home_structure_b_1.png
                                </imgname>
                            </comment>
                        </cms-block-1>
                        <cms-block-2>
                            <label>Blocco 2 della Home</label>
                            <frontend_type>select</frontend_type>
                            <source_model>veredus/adminhtml_system_config_source_cms_block</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                            
                            <comment>
                                <model>
                                    veredus/adminhtml_system_config_source_home_block
                                </model>
                                <imgname>
                                    template/adminhtml/home_structure_b_2.png
                                </imgname>
                            </comment>
                        </cms-block-2>
                        <cms-block-3>
                            <label>Blocco 3 della Home</label>
                            <frontend_type>select</frontend_type>
                            <source_model>veredus/adminhtml_system_config_source_cms_block</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                            
                            <comment>
                                <model>
                                    veredus/adminhtml_system_config_source_home_block
                                </model>
                                <imgname>
                                    template/adminhtml/home_structure_b_3.png
                                </imgname>
                            </comment>
                        </cms-block-3>
                    </fields>
                </home>
                <settings translate="label">
                    <label>Catalog Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <attribute_color>
                            <label>Attributi colori</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>veredus/adminhtml_system_config_source_catalog_product_attribute_select</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[Attributi che indicano i colori<br>Se si vuole gestire un color switcher per i prodotti configurabili 
nel frontend è necessario l'attributo <strong>mps_color_switcher</strong> è seguire le istruzioni di configurazione nella tab delle immagini del prodotto.<br>
L'attributo deve essere di tipo <strong>Text</strong>]]></comment>
                        </attribute_color>
                        <attribute_size>
                            <label>Attributi Taglia</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>veredus/adminhtml_system_config_source_catalog_product_attribute_select</source_model>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Attributi che indicano le taglie</comment>
                        </attribute_size>
                        <!--<attribute_image_color>
                            <label>Attributo che identifica l'immagine per la palette dei colori</label>
                            <frontend_type>select</frontend_type>
                            <source_model>veredus/adminhtml_system_config_source_media_imagecolor</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Se selezionata l'immagine dell'attributo verra utilizzata per la tavolozza colori</comment>
                        </attribute_image_color>-->
                        <cms-block-sizeguide>
                            <label>Pagina CMS per il size guide</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_cms_page</source_model>
                            <sort_order>12</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Appare in tutti i dettaglio prodotti dove è presente un attributo con layout size</comment>
                        </cms-block-sizeguide>
                        <cms-block-privacy-register>
                            <label>Pagina CMS per la privacy in fase di registrazione</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_cms_page</source_model>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </cms-block-privacy-register>
                        <shop_by_plus>
                            <label>Categorie per Navigazione laterale</label>
                            <frontend_type>select</frontend_type>
                            <source_model>veredus/adminhtml_system_config_source_catalog_category_list</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Indica la categoria che raggruppa le categorie che verranno incluse nella barra laterale di ricerca</comment>
                        </shop_by_plus>
                        <shop_by_plus_gg>
                            <label>Periodo</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>35</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>                            
                            <comment>Periodo sul quale vengono calcolati gli indici espresso in giorni</comment>
                        </shop_by_plus_gg>
                        <shop_by_plus_nritem>
                            <label>Max Item</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>35</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>                            
                            <comment>Numero massimo di prodotti da considerare nel calcolo</comment>
                        </shop_by_plus_nritem>
                        <zoom_360_height>
                            <label>Zoom 360 Altezza</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>                            
                            <comment>Altezza di default per lo Zoom 360</comment>
                            <validate>validate-number</validate>
                        </zoom_360_height>
                        <zoom_360_width>
                            <label>Zoom 360 Larghezza</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>45</sort_order>
                            <show_in_default>1</show_in_default>                          
                            <comment>Larghezza di default per lo Zoom 360</comment>
                            <validate>validate-number</validate>
                        </zoom_360_width>
                        <!--<category-brands>
                            <label>Categoria dei Brand</label>
                            <frontend_type>select</frontend_type>
                            <source_model>veredus/adminhtml_system_config_source_catalog_category_list</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </category-brands>
                        <img-brands>
                            <label>Tipo di immagine per il Brand</label>
                            <frontend_type>select</frontend_type>
                            <source_model>veredus/adminhtml_system_config_source_catalog_category_imgbrand</source_model>
                            <sort_order>25</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </img-brands>
                        <defaul-country>
                            <label>Paese di default</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_country</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Nel caso la geolocalizzazione fallisca</comment>
                        </defaul-country>-->
                    </fields>
                </settings>
                <!--<country translate="label">
                    <label>Country Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <list_order>
                            <label>Ordinamento custom paesi</label>
                            <frontend_model>veredus/adminhtml_directory_sort</frontend_model>
                            <backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>                            
                        </list_order>
                    </fields>
                </country>-->
             </groups>
        </veredus>
    </sections>
</config>
