nbproject/
htdocs/app/code/community/
htdocs/app/code/core/
htdocs/app/code/local/MpsSistemi/
htdocs/app/design/adminhtml/
htdocs/app/design/frontend/base/
htdocs/app/design/frontend/default/blank/
htdocs/app/design/frontend/default/default/
htdocs/app/design/frontend/default/iphone/
htdocs/app/design/frontend/default/modern/
htdocs/app/design/install/
htdocs/app/etc/config.xml
htdocs/app/etc/local.xml.additional
htdocs/app/etc/local.xml.template
htdocs/app/etc/local.xml
htdocs/app/locale/
htdocs/app/shell/
htdocs/app/.htaccess
htdocs/app/Mage.php
htdocs/cron.php
htdocs/cron.sh
htdocs/downloader/
htdocs/errors/
htdocs/favicon.ico
htdocs/get.php
htdocs/includes/
htdocs/index.php
htdocs/api.php
htdocs/.htaccess
htdocs/index.php.sample
htdocs/install.php
htdocs/js/
htdocs/lib/3Dsecure/
htdocs/lib/flex/
htdocs/lib/googlecheckout/
htdocs/lib/LinLibertineFont/
htdocs/lib/Mage/
htdocs/lib/PEAR/
htdocs/lib/phpseclib/
htdocs/lib/Varien/
htdocs/lib/Zend
htdocs/lib/.htaccess
htdocs/LICENSE_AFL.txt
htdocs/LICENSE.html
htdocs/LICENSE.txt
htdocs/LICENSE_EE*
htdocs/mage
htdocs/media/catalog/
htdocs/media/customer/
htdocs/media/dhl/
htdocs/media/downloadable/
htdocs/media/favicon/
htdocs/media/xmlconnect
htdocs/media/.htaccess
htdocs/pear
htdocs/pear/
htdocs/php.ini.sample
htdocs/pkginfo/
htdocs/RELEASE_NOTES.txt
htdocs/shell/abstract.php
htdocs/shell/compiler.php
htdocs/shell/indexer.php
htdocs/shell/log.php
htdocs/skin/adminhtml/
htdocs/skin/frontend/base/
htdocs/skin/frontend/default/blank/
htdocs/skin/frontend/default/blue/
htdocs/skin/frontend/default/default/
htdocs/skin/frontend/default/french/
htdocs/skin/frontend/default/german/
htdocs/skin/frontend/default/iphone/
htdocs/skin/frontend/default/modern/
htdocs/skin/install/
htdocs/var/